html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #104006;
  text-align: center;
}

p{
  font-size: 50px;
  color: red;
}


button{
  text-align: center;
  background-color: #104006;
  color: white;
  font-size: 50px;
}
